#root {
  display: flex;
  flex-direction: column;
}

#catContainer {
  display: block;
}
#accordion-container {
  display: none;
}

.delete-button {
  display: block;
  font-size: bold;
  color: white;
  background: red;
  border-radius: 4px;
  width: 100px;
  text-align: center;
  margin-left: auto;
}

.delete-button:hover {
  background: darkred;
}

#firstRow,
#secondRow {
  display: flex;
  flex-direction: row;
}

section {
  display: block;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 30%;
}

#secondRow {
  justify-content: flex-end;
}

#descrContainer {
  width: 50%;
}

#formContainer {
  display: none;
  width: 40%;
  margin-right: 50px;
}

.order {
  background: #008000 !important;
  font-size: large;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
